footer
    .inner
        .ftrlogo
            a(href="index.html")
                img(src="images/sitahouse-logo-white.svg", alt="Sitahouse.com") 
        
        ul.ftrnav
            li #[a(href="") About]
            li #[a(href="") Careers]
            li #[a(href="") Terms of Service]
            li #[a(href="") Privacy Policy]
            li #[a(href="") How it Works]
            li #[a(href="") Merchandise]
            li #[a(href="") Help]
            li #[a(href="") Contact Us]
        ul.ftrsocial
            li #[a(href="#fb") #[i.fa.fa-facebook]]
            li #[a(href="#tw") #[i.fa.fa-twitter]]
            li #[a(href="#ig") #[i.fa.fa-instagram]]
            li #[a(href="#pint") #[i.fa.fa-pinterest]]
        p.cpyrt Copyright © 2018 Sitahouse.com All rights reserved. 
