.main-carousel
    .carousel-cell
        .inner
            h1 #[b We stay when you’re away], so that you don’t have to waste your weekends or paid vacation days on mundane tasks...
    .carousel-cell.s2ndary-slide
        .inner
            .txtpanel #[h3 ...receiving deliveries...]
            .imgpanel(style="background-image: url(images/slide-img1.png)")
    .carousel-cell.s2ndary-slide
        .inner
            .imgpanel(style="background-image: url(images/slide-img1.png)")
            .txtpanel #[h3 ...receiving deliveries...]
                
            
#sitter-srch
    .inner
        h2 Sitters for All Your Needs:
        .sitneeds  Home Warranty Repairs, Delivery Receipts, Home Improvement Projects, Vacant Property Monitoring & Access Management, Insurance Savings & Peace of Mind
.about-sitters 
    .inner 
        h2 About Our Sitters
        p Sitahouse conducts thorough background checks on all of our house sitting candidates. Our applicants submit their application credentials and we screen for lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .big-ctas 
            a(href="#sitter-srch") #[i.fa.fa-search] Find a Sitter
            a(href="signup.html") #[i.fa.fa-handshake-o] Become a Sitter
            
            
            // Select and textarea
            //- .homesearch-row
            //-     label.hide(for="testselect") Select Something
            //-     select#testselect(name="")
            //-         option(value="") -- Select --
            //- .homesearch-row  
            //-     label.hide(for="testtxtarea") Write Something
            //-     textarea#testtxtarea(name="", cols="30", rows="10")
