@import '_var';

// Top Bar Area Section
.top-area {
  background-color: $color6;
  // height: 40px;
  padding: 15px 0;
  .area-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    .top-left {
      list-style-type: none;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      li {
        padding-right: 10px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        p {
          color: $color2;
          font-size: 12px;
          font-weight: 600;
          font-family: $font-slack;
          i {
            padding-right: 5px;
          }
        }
      }
    }
    .top-right {
      list-style-type: none;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 100%;
      a {
        color: $color2;
        font-size: 12px;
        font-weight: 600;
        font-family: $font-slack;
        text-decoration: none;
        i {
          padding-right: 5px;
        }
      }
    }
  }
}

// Video background
.banner {
  // margin: -24px -24px 0 -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  min-height: 87vh;
  background: black;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg");
  background-size: cover;
}

.video-container .video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.video-mask {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background: black;
  opacity: 0.5;
}

.banner-content-slider {
  margin-top: 10em !important;
}

.banner-content {
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 2;
  width: 100%;
  margin-top: 2em;
  h2 {
    font-size: 35px;
    line-height: 2;
    font-family: $font-slack;
    font-weight: 700;
    color: #fff;
  }
  p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 22px;
    font-family: $font-slack;
    font-weight: 300;
    color: #fff;
  }
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 100px !important;
}

@import '_button';

//Hide Video on smaller screens to reduce bandwidth usage
@media only screen and (max-width: 767px) {
  .banner-content {
    position: absolute;
    height: 100%;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin-top: 2em;
    h2 {
      font-size: 22px;
      line-height: 2;
      font-family: $font-slack;
      font-weight: 700;
      color: #fff;
    }
    p {
      font-size: 18px;
      max-width: 700px;
      margin: 0 auto;
      line-height: 22px;
      font-family: $font-slack;
      font-weight: 300;
      color: #fff;
    }
  }
  .swiper-container-horizontal > .swiper-pagination {
    bottom: 10px !important;
  }
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0%;
  text-align: center;
  padding: 20px;
  // border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  text-align: center;
  padding-top: 15px;
  position: relative;
  bottom: 280px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all .3s ease;
  opacity: .4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
}
//
// .container {
//   background-color: #f2f2f2;
//   color: #444;
//   line-height: 1.6;
//   padding: 40px 0;
// }
// .container .content {
//   width: 90%;
//   max-width: 980px;
//   margin: 0 auto;
// }
// .container p {
//   margin-bottom: 40px;
// }

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
