// Sidebar Left Section
.sidebar-left {
  background-color: $color6;
  text-align: center;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  // margin-top: -48px;
  .nav-sideleft {
    list-style-type: none;
    .active {
      background-color: $color2;
      position: relative;
      color: $color6;
      &:before {
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $color6;
      }
      // &:after {
      //   content: '';
      //   width: 0;
      //   height: 0;
      //   border-top: 12px solid transparent;
      //   border-left: 16px solid $color6;
      //   border-bottom: 12px solid transparent;
      //   position: absolute;
      //   left: 0;
      //   top: 15px;
      // }
    }
     a {
      padding: 20px 0;
      color: $color2;
      position: relative;
      font-family: $font-slack;
      font-weight: 600;
      font-style: normal;
      font-size: 16px;
      vertical-align: middle;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      width: 100%;
      display: block;
      height: 55px;
      &:hover {
        background-color: $color2;
        color: $color6;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sidebar-left {
    margin-bottom: 20px;
  }
}
