@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/Proxima_nova/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: "Proxima-Nova-Black";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Black.otf");
}
@font-face {
  font-family: "Proxima-Nova-Extrabold";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Extrabold.otf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-SemiBold";
  src: url("../fonts/Roboto/Roboto-SemiBold.html");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "TragicMarker";
  src: url("../fonts/TragicMarker/TragicMarker.otf");
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/Gotham-Font/GothamMedium.ttf");
}
:root {
  --font-tragic: "TragicMarker";
  --font-regular: "ProximaNova-Regular";
  --font-medium: "Montserrat-Medium";
  --font-SemiBold: "Montserrat-SemiBold";
  --font-Extrabold: "Montserrat-ExtraBold";
  --font-bold: "Proxima-Nova-Bold";
  --font-Black: "Proxima-Nova-Black";
  --font-RobRegular: "Roboto-Regular";
  --font-RobMedium: "Roboto-Medium";
  --font-RobLight: "Roboto-Light";
  --font-RobBold: "Roboto-Bold";
  --font-RobSemiBold: "Roboto-SemiBold";
  --font-RobBlack: "Roboto-Black";
  --font-gilroyBold: "Gilroy-Bold";
  --font-gilroyMedium: "Gilroy-Medium";
  --font-gilroyExtraBold: "Gilroy-ExtraBold";
  --font-gothMedium: "GothamMedium";
  --primary-color: #c52b2c;
  --darkprimary-color: #a21c1d;
  --secondary-color: #59bae9;
  --lightprimary-color: #bd176e;
  --darker-color: #000d15;
  --dark-color: #100f10;
  --white-color: #fff;
  --darking-color: #242424;
  --gray-color: #e6e6e6;
  --lightgray-color: #f8f8f8;
  --yellow-color: #f7c30f;
  --darkyellow-color: #f7ad0f;
  --black-color: #000;
}

.btn-pink {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.625em 2.1875em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--white-color);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .btn-pink {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-pink {
    font-size: 14px;
  }
}

.btn-yellow {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.9375em 2.1875em;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--white-color);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .btn-yellow {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-yellow {
    font-size: 14px;
  }
}

.btn-white {
  background-color: var(--white-color);
  border-color: var(--white-color);
  padding: 0.9375em 3.75em;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.0625em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .btn-white {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-white {
    font-size: 14px;
  }
}

.btn {
  cursor: pointer;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-slack);
  overflow-x: hidden;
  background-color: #fff !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

::-webkit-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }

  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav--wrapper {
    max-width: 1360px !important;
  }
}
@media screen and (max-width: 992px) {
  .nav--wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
.uppercase {
  text-transform: uppercase;
}

.header .top-bar {
  background-color: var(--dark-color);
  padding: 14px 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.header .top-bar .header-top {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .top-bar .header-top .left-bar h4 {
  display: inline-block;
  font-size: 2.1875em;
  font-family: var(--font-tragic);
  font-weight: normal;
  position: relative;
  visibility: visible;
}
.header .top-bar .header-top .left-bar h4 .white-text {
  color: var(--white-color);
  margin-right: 15px;
}
.header .top-bar .header-top .left-bar h4 .red-text {
  color: var(--darkprimary-color);
}
.header .top-bar .header-top .right-bar .right-text span {
  display: inline-block;
  vertical-align: middle;
}
.header .top-bar .header-top .right-bar .right-text .img {
  margin-right: 14px;
}
.header .top-bar .header-top .right-bar .right-text .text {
  font-family: var(--font-Extrabold);
  font-weight: bold;
  color: var(--white-color);
  text-align: left;
}
.header .top-bar .header-top .right-bar .right-text .text .block-counter {
  display: block;
}
.header .top-bar .header-top .right-bar .right-text .text .block-small {
  font-size: 17px;
}
.header .top-bar .header-top .right-bar .right-text .text .block-counter {
  font-size: 32px;
}
.header .navigation-navbar {
  margin: 0;
  padding: 0 !important;
  width: 100%;
  background-color: var(--white-color) !important;
  position: relative !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  border: none;
}
@media screen and (min-width: 1600px) and (max-width: 2400px) {
  .header .navigation-navbar {
    padding: 2px 0 !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .header .navigation-navbar {
    position: relative !important;
    background-color: var(--white-color) !important;
    border: none !important;
    border-bottom: none !important;
    box-shadow: none;
  }
}
.header .navigation-navbar .navbar-toggler {
  background-color: var(--primary-color);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.header .navigation-navbar .left-arrow {
  position: absolute;
  top: 15px;
  left: 0;
}
.header .navigation-navbar .left-arrow img {
  width: 60px;
}
@media screen and (min-width: 1700px) {
  .header .navigation-navbar .left-arrow img {
    width: auto;
  }
}
.header .navigation-navbar .navbar-brand {
  margin-right: 100px;
  position: relative;
  top: 0;
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .header .navigation-navbar .navbar-brand {
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header .navigation-navbar .navbar-brand {
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .header .navigation-navbar .navbar-brand {
    position: relative;
  }
}
@media screen and (min-width: 320px) and (max-width: 992px) {
  .header .navigation-navbar .navbar-brand {
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .header .navigation-navbar .navbar-brand {
    width: 100%;
    text-align: center;
  }
}
.header .navigation-navbar .navbar-brand img {
  width: 320px;
}
@media screen and (min-width: 1600px) and (max-width: 2400px) {
  .header .navigation-navbar .navbar-brand img {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .header .navigation-navbar .navbar-brand img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .header .navigation-navbar .navbar-brand img {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .header .navigation-navbar .navbar-brand img {
    width: 90%;
  }
}
.header .navigation-navbar .navbar-collapse {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .navigation-navbar .navbar-collapse {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .header .navigation-navbar .navbar-collapse {
    padding-left: 30px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1219px) {
  .header .navigation-navbar .navbar-collapse .d-e1204 {
    justify-content: flex-end !important;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 30px;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 {
  font-size: 24px;
  font-family: var(--font-SemiBold);
  font-weight: normal;
  text-align: left;
  color: var(--dark-color);
  position: relative;
  visibility: visible;
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 span {
  display: block;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 {
    font-size: 20px;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
  background-color: var(--primary-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 0.75em 40px 12px 0;
  font-size: 1.0625em;
  font-weight: bold;
  font-family: var(--font-gilroyBold);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0.75em 0.625em 12px 10px;
    font-size: 14px;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-link .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: var(--darkprimary-color);
  vertical-align: middle;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link .icon {
    display: none;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-link .text {
  padding-left: 80px;
}
@media screen and (min-width: 1700px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link .text {
    padding-left: 40px;
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link .text {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1900px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.1875em;
    padding: 1.25em 3.125em;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 1.5625em 1.25em;
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .header .navigation-navbar .navbar-collapse .navbar-nav .dn-1024 {
    display: none !important;
  }
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-item {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}
.header .navigation-navbar .navbar-collapse .navbar-nav .nav-item:last-of-type {
  margin-right: 0;
}

.banner--section {
  background-image: url("../images/cover.png");
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 0 40px 0;
  z-index: 1;
  border: none;
  position: relative;
}
.banner--section .banner-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -15px);
}
@media screen and (min-width: 1700px) {
  .banner--section .banner-img {
    transform: translate(0%, -8px);
  }
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner-img {
    transform: translate(30%, -15px);
  }
}
@media screen and (max-width: 1100px) {
  .banner--section .banner-img {
    display: none;
  }
}
.banner--section .banner-img img {
  width: 90%;
  height: 1140px;
}
@media screen and (min-width: 1700px) {
  .banner--section .banner-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner-img img {
    width: 70%;
  }
}
@media screen and (min-width: 1700px) {
  .banner--section {
    height: 800px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .banner--section .col-lg-8 {
    flex: 0 0 100% !important;
  }
}
.banner--section .discount {
  position: absolute;
  top: 7%;
  right: -26px;
}
@media screen and (min-width: 1700px) {
  .banner--section .discount {
    top: 15%;
    right: 90px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .discount {
    display: none;
  }
}
.banner--section .discount img {
  width: 88%;
}
@media screen and (min-width: 1700px) {
  .banner--section .discount img {
    width: 100%;
  }
}
.banner--section .character {
  position: absolute;
  top: -10%;
  right: 18%;
}
@media screen and (min-width: 1700px) {
  .banner--section .character {
    top: -9%;
    right: 24%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .banner--section .character {
    position: absolute;
    top: -7%;
    right: 15%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .character {
    display: none;
  }
}
.banner--section .character img {
  width: 85%;
}
@media screen and (min-width: 1700px) {
  .banner--section .character img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .banner--section {
    background-position: left;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .banner--section .col-lg-6 {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .banner--section .col-lg-3 {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .banner--section .d-no {
    display: none;
  }
}
.banner--section .banner--info .large-text {
  font-size: 4.4375em;
  font-family: var(--font-gilroyExtraBold);
  font-weight: bolder;
  position: relative;
  color: var(--white-color);
  text-align: left;
  display: block;
  margin-bottom: 50px;
}
.banner--section .banner--info .large-text span {
  display: block;
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner--info .large-text {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .banner--section .banner--info .large-text {
    font-size: 2.8125em;
  }
}
@media screen and (min-width: 1700px) {
  .banner--section .banner--info .large-text {
    font-size: 4.25em;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .banner--section .banner--info .large-text {
    font-size: 1.875em;
  }
}
.banner--section .banner--info .bg-inner {
  background-color: #272766;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0.9375em 1.25em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-top: 30px;
  width: 62%;
}
@media screen and (min-width: 1700px) {
  .banner--section .banner--info .bg-inner {
    width: 55%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .banner--info .bg-inner {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .banner--section .banner--info .bg-inner {
    flex-wrap: nowrap;
  }
}
.banner--section .banner--info .bg-inner .icon {
  margin-right: 20px;
}
.banner--section .banner--info .bg-inner .text p {
  color: var(--white-color);
  font-size: 1.25em;
  font-family: var(--font-gilroyMedium);
  font-weight: 500;
  visibility: visible;
  line-height: 25px;
}
@media screen and (min-width: 1700px) {
  .banner--section .banner--info .bg-inner .text p {
    font-size: 1.4375em;
  }
}
.banner--section .banner--info .bg-inner .text p span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .banner--section .banner--info .bg-inner .text p span {
    display: inline;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .banner--section .banner--info .bg-inner .text p {
    font-size: 15px;
  }
}
.banner--section .banner--info .inline-inner {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 80px;
}
.banner--section .banner--info .inline-inner li {
  flex: 0 0 33%;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .banner--section .banner--info .inline-inner li {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner--section .banner--info .inline-inner li {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}
.banner--section .banner--info .inline-inner li .item {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.banner--section .banner--info .inline-inner li .item .icon {
  width: 40px;
  margin-right: 20px;
}
.banner--section .banner--info .inline-inner li .item .icon .icon--img {
  width: 100%;
}
.banner--section .banner--info .inline-inner li .item .text-rg p {
  color: var(--white-color);
  font-style: normal;
  font-size: 1.375em;
  font-family: var(--font-Extrabold);
  font-weight: bold;
  line-height: 25px;
}
.banner--section .banner--info .inline-inner li .item .text-rg p span {
  display: block;
}
@media screen and (min-width: 1700px) {
  .banner--section .banner--info .inline-inner li .item .text-rg p {
    font-size: 1.125em;
  }
}
.banner--section .banner--info .money--info {
  background-color: var(--primary-color);
  display: inline-block;
  position: relative;
  height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-top: 30px;
  padding-right: 20px;
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner--info .money--info {
    width: 560px;
  }
}
.banner--section .banner--info .money--info .inline-row {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.banner--section .banner--info .money--info .inline-row .img {
  position: relative;
  transform: translateY(-90px);
}
.banner--section .banner--info .money--info .inline-row .img img {
  width: 300px;
  height: 260px;
}
.banner--section .banner--info .money--info .inline-row .info {
  position: relative;
}
.banner--section .banner--info .money--info .inline-row .info h4 {
  font-size: 20px;
  font-family: var(--font-Extrabold);
  font-weight: bold;
  font-style: normal;
  position: relative;
  text-align: left;
  color: var(--white-color);
  visibility: visible;
  display: block;
  text-transform: uppercase;
  margin-left: -20px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner--info .money--info .inline-row .info h4 {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner--section .banner--info .money--info .inline-row .info h4 {
    font-size: 15px;
  }
}
.banner--section .banner--info .money--info .inline-row .info p {
  font-size: 16px;
  font-family: var(--font-regular);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  position: relative;
  display: block;
  color: var(--white-color);
  margin-left: -5px;
  margin-bottom: 10px;
}
.banner--section .banner--info .money--info .inline-row .info p .block {
  display: block;
}
.banner--section .banner--info .money--info .inline-row .info p .bold {
  font-weight: bold;
  color: var(--dark-color);
  font-family: var(--font-bold);
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner--info .money--info .inline-row .info p {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .banner--section .banner--info .money--info .inline-row .info p {
    font-size: 10px;
  }
}
.banner--section .banner--info .money--info .inline-row .info a {
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-bold);
  text-align: left;
  position: relative;
  color: var(--dark-color);
  display: block;
  margin-left: 6px;
  text-decoration: none;
}
.banner--section .banner--info .money--info .inline-row .info a img {
  transform: translateX(10px);
  vertical-align: middle;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .banner--section .banner--info .money--info .inline-row .info a {
    font-size: 0.75em;
  }
  .banner--section .banner--info .money--info .inline-row .info a img {
    display: none;
  }
}
.banner--section .banner--info .last-img {
  margin-top: -40px;
}
.banner--section .banner--info .last-img img {
  width: 63%;
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .banner--info .last-img img {
    width: 100%;
  }
}

.form-contact-section {
  padding: 30px 0;
  margin: 0;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-contact-section .left-form {
    margin-bottom: 30px;
  }
}
.form-contact-section .left-form .heading {
  font-size: 1.75em;
  font-weight: 500;
  font-family: var(--font-SemiBold);
  font-style: normal;
  position: relative;
  text-align: left;
  color: var(--primary-color);
  display: inline-block;
  margin-bottom: 30px;
  line-height: 39px;
}
.form-contact-section .left-form .heading span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-contact-section .left-form .heading span {
    display: contents;
    width: 100%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .form-contact-section .left-form .heading {
    font-size: 25px;
  }
}
.form-contact-section .left-form .heading b {
  display: inline-block;
  font-family: var(--font-Extrabold);
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-contact-section .left-form .heading {
    font-size: 18px;
  }
}
.form-contact-section .left-form .inner {
  font-size: 0.90625em;
  font-family: var(--font-regular);
  font-weight: 400;
  position: relative;
  color: #767676;
  text-align: left;
  margin-bottom: 20px;
}
.form-contact-section .left-form .inner:last-of-type {
  margin-bottom: 0;
}
.form-contact-section .left-form .read-btn {
  margin-top: 15px;
  display: inline-block;
  font-size: 0.9375em;
  font-family: var(--font-bold);
  font-weight: bold;
  font-style: italic;
  color: var(--primary-color);
  position: relative;
  text-align: left;
}
.form-contact-section .form-contact {
  padding: 1.25em 2.5em;
  position: relative;
  margin-top: -312.4px;
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .form-contact-section .form-contact {
    margin-top: 0;
  }
}
.form-contact-section .form-contact:before {
  content: "";
  background-color: var(--black-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 80%;
  z-index: 0;
}
@media screen and (min-width: 1700px) {
  .form-contact-section .form-contact:before {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .form-contact-section .form-contact:before {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .form-contact-section .form-contact .col-lg-9 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.form-contact-section .form-contact .inline-form {
  position: relative;
}
.form-contact-section .form-contact .inline-form .heading {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 30px;
  z-index: 100;
  position: relative;
  margin-bottom: 30px;
  width: 74%;
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .form-contact-section .form-contact .inline-form .heading {
    width: 100%;
  }
}
.form-contact-section .form-contact .inline-form .heading h2 {
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .heading h2 span {
  display: block;
}
.form-contact-section .form-contact .inline-form .heading h2 .large-text {
  font-size: 2.8125em;
  font-family: var(--font-Extrabold);
  font-weight: bold;
  font-style: normal;
  position: relative;
  text-align: left;
  display: block;
  color: var(--white-color);
  margin-bottom: 25px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-contact-section .form-contact .inline-form .heading h2 .large-text {
    font-size: 1.875em;
  }
}
.form-contact-section .form-contact .inline-form .heading h2 .medium-text {
  font-size: 1.5em;
  font-family: var(--font-regular);
  font-weight: normal;
  font-style: normal;
  position: relative;
  text-align: left;
  display: block;
  color: var(--white-color);
  margin-bottom: 15px;
}
.form-contact-section .form-contact .inline-form .title {
  z-index: 100;
  position: relative;
}
.form-contact-section .form-contact .inline-form .title h4 {
  font-size: 1.0625em;
  font-family: var(--font-bold);
  font-weight: bold;
  font-style: normal;
  position: relative;
  text-align: left;
  display: block;
  color: var(--white-color);
  margin-bottom: 15px;
}
.form-contact-section .form-contact .inline-form .form-group {
  position: relative;
  z-index: 100;
  margin-bottom: 25px;
  /*****************************************
    upload button styles
  ******************************************/
}
.form-contact-section .form-contact .inline-form .form-group .form-control {
  background-color: #111111;
  border-color: #111111;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  padding: 10px 10px 10px 40px;
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color);
}
.form-contact-section .form-contact .inline-form .form-group .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.form-contact-section .form-contact .inline-form .form-group .fileUpload {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--dark-color);
}
.form-contact-section .form-contact .inline-form .form-group .fileUpload .UploadLabel {
  color: var(--white-color) !important;
  width: 160px;
  font-size: 0.8225em;
  font-family: var(--font-SemiBold);
  font-weight: normal;
}
.form-contact-section .form-contact .inline-form .form-group .fileUpload input[type=file] {
  text-transform: lowercase !important;
  padding: 10px 0;
  background-color: var(--dark-color);
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-semibold);
}
.form-contact-section .form-contact .inline-form .form-group .file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.form-contact-section .form-contact .inline-form .form-group .file-upload__label {
  display: block;
  padding: 10px 2em;
  color: #000;
  background: var(--white-color);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  transition: background 0.3s;
  font-size: 13.16px;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  display: block;
}
.form-contact-section .form-contact .inline-form .form-group .file-upload__label:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white-color);
}
.form-contact-section .form-contact .inline-form .form-group .file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.form-contact-section .form-contact .inline-form .form-group .btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 10px 30px;
  font-size: 0.920625em;
  text-align: center;
  position: relative;
  color: var(--white-color);
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.form-contact-section .form-contact .inline-form .form-group .btn:focus {
  outline: none;
  box-shadow: none;
}
.form-contact-section .info-content {
  margin-top: 40px;
}
.form-contact-section .info-content .heading {
  font-size: 1.875em;
  font-weight: bold;
  font-family: var(--font-bold);
  text-align: left;
  position: relative;
  color: var(--black-color);
  margin-bottom: 30px;
}
.form-contact-section .info-content .inline-list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-contact-section .info-content .inline-list ul {
  flex: 0 0 33%;
  list-style-type: none;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .form-contact-section .info-content .inline-list ul {
    flex: 0 0 50%;
  }
}
.form-contact-section .info-content .inline-list ul li {
  margin-bottom: 20px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-contact-section .info-content .inline-list ul li {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.form-contact-section .info-content .inline-list ul li .icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}
.form-contact-section .info-content .inline-list ul li .text {
  font-size: 20px;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  color: var(--primary-color);
  display: inline-block;
  text-align: left;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form-contact-section .info-content .inline-list ul {
    flex: 0 0 100%;
  }
}

.product--section {
  background-color: var(--dark-color);
  width: 100%;
  padding: 80px 0;
  margin: 0;
  display: block;
  position: relative;
}
.product--section .heading h2 {
  font-size: 4.375em;
  font-weight: bold;
  font-family: var(--font-Extrabold);
  color: var(--white-color);
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .product--section .heading h2 {
    font-size: 2.5em;
  }
}
.product--section .heading p {
  font-size: 1.25em;
  font-family: var(--font-regular);
  font-weight: normal;
  position: relative;
  text-align: center;
  position: relative;
  color: var(--white-color);
  visibility: visible;
}
.product--section .heading .button-group {
  text-align: center;
  margin: 60px 0;
}
.product--section .heading .button-group .btn {
  border-color: var(--primary-color);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  font-style: normal;
  position: relative;
  display: inline-block;
  padding: 0.75em 3.75em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .product--section .heading .button-group .btn {
    margin-bottom: 20px;
  }
}
.product--section .heading .button-group .btn-outline {
  background-color: transparent;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .product--section .heading .button-group .btn-outline {
    margin-right: 0;
  }
}
.product--section .heading .button-group .btn-dark {
  background-color: var(--primary-color);
}
.product--section .list-items-inline {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 20px;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .product--section .list-items-inline {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .product--section .list-items-inline {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .product--section .list-items-inline .list {
    flex: 0 0 33.333%;
  }
}
@media screen and (min-width: 402px) and (max-width: 767px) {
  .product--section .list-items-inline .list {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 401px) {
  .product--section .list-items-inline .list {
    flex: 0 0 100%;
  }
}
.product--section .list-items-inline .list .img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}
.product--section .list-items-inline .list .text {
  font-size: 1.125em;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  color: var(--white-color);
  text-align: left;
  position: relative;
  display: inline-block;
  visibility: visible;
}
.product--section .product-inner {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .product--section .product-inner {
    margin-bottom: 30px;
  }
}
.product--section .product-inner .image img {
  width: 100%;
}
.product--section .product-inner .text {
  margin-top: 25px;
}
.product--section .product-inner .text h4 {
  font-size: 1.3125em;
  font-weight: bold;
  font-family: var(--font-bold);
  text-align: left;
  position: relative;
  color: var(--white-color);
  display: block;
  margin-bottom: 40px;
}
.product--section .product-inner .text h4:before {
  content: "";
  background-color: var(--primary-color);
  width: 35px;
  height: 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: absolute;
  bottom: -14px;
  left: 0;
}
.product--section .product-inner .text .list {
  list-style-type: none;
  display: block;
}
.product--section .product-inner .text .list li {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .product--section .product-inner .text .list li {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .product--section .product-inner .text .list li {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-wrap: nowrap;
  }
}
.product--section .product-inner .text .list li .icon img {
  vertical-align: middle;
  margin-right: 10px;
}
.product--section .product-inner .text .list li .text-list {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--font-regular);
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

.contact-inners {
  padding: 3.125em 0;
  background-color: var(--white-color);
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .contact-inners .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.contact-inners .contact-inner {
  position: relative;
}
.contact-inners .contact-inner .image-inner {
  position: relative;
  height: 200px;
}
@media screen and (min-width: 991px) and (max-width: 1100px) {
  .contact-inners .contact-inner .image-inner {
    height: auto;
  }
}
.contact-inners .contact-inner .image-inner img {
  width: 100%;
  height: 100%;
}
.contact-inners .contact-inner .text--inner {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
}
.contact-inners .contact-inner .text--inner h2 {
  font-size: 2em;
  font-family: var(--font-Extrabold);
  font-weight: bold;
  color: var(--white-color);
  text-align: left;
  position: relative;
  line-height: 30px;
  margin-bottom: 16px;
}
.contact-inners .contact-inner .text--inner h2 span {
  display: block;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .contact-inners .contact-inner .text--inner h2 {
    font-size: 3.125em;
    line-height: 60px;
  }
}
@media screen and (min-width: 402px) and (max-width: 767px) {
  .contact-inners .contact-inner .text--inner h2 {
    font-size: 1.5625em;
  }
}
@media screen and (min-width: 320px) and (max-width: 401px) {
  .contact-inners .contact-inner .text--inner h2 {
    font-size: 1.0625em;
    line-height: 22px;
  }
}
.contact-inners .contact-inner .text--inner a {
  font-size: 0.75em;
  font-family: var(--font-bold);
  font-weight: bold;
  color: var(--dark-color);
  text-align: left;
  position: relative;
  line-height: 30px;
}
.contact-inners .contact-inner .text--inner a img {
  vertical-align: middle;
  margin-left: 10px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .contact-inners .contact-inner .text--inner a {
    font-size: 20px;
  }
}
.contact-inners .contact-inner .text-inner-middle {
  left: 60%;
}

.loan--inner--section {
  background-image: url("../images/black-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 5em 0;
  width: 100%;
}
.loan--inner--section .inner--context {
  text-align: center;
  padding-right: 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .loan--inner--section .inner--context {
    margin-bottom: 30px;
  }
}
.loan--inner--section .inner--context .heading {
  font-size: 2em;
  font-weight: bold;
  font-family: var(--font-Extrabold);
  text-align: center;
  position: relative;
  visibility: visible;
  display: block;
  color: var(--white-color);
  margin-bottom: 60px;
}
.loan--inner--section .inner--context .heading span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 401px) {
  .loan--inner--section .inner--context .heading {
    font-size: 22px;
  }
}
.loan--inner--section .inner--context p {
  text-align: center;
  font-size: 18px;
  font-family: var(--font-regular);
  font-weight: 400;
  color: var(--white-color);
  position: relative;
  display: block;
  visibility: visible;
  margin-bottom: 40px;
}
.loan--inner--section .inner--context p span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 401px) {
  .loan--inner--section .inner--context p span {
    display: contents;
  }
}
.loan--inner--section .inner--context .btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-align: center;
  padding: 0.75em 80px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  color: var(--white-color);
  position: relative;
  display: inline-block;
}
.loan--inner--section .inner--context .btn:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .loan--inner--section .col-lg-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .loan--inner--section .col-lg-3 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
.loan--inner--section .inner--box-context {
  background-color: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .loan--inner--section .inner--box-context {
    margin-bottom: 30px;
  }
}
.loan--inner--section .inner--box-context .head {
  padding: 0.875em;
  text-align: center;
  position: relative;
  display: block;
  font-size: 15px;
  font-family: var(--font-gothMedium);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.loan--inner--section .inner--box-context .red {
  background-color: var(--primary-color);
}
.loan--inner--section .inner--box-context .black {
  background-color: var(--black-color);
}
.loan--inner--section .inner--box-context .inner-body {
  padding: 30px 30px;
  text-align: center;
}
.loan--inner--section .inner--box-context .inner-body p {
  font-size: 11px;
  font-family: var(--font-regular);
  font-weight: 400;
  color: #434343;
  margin-bottom: 30px;
  padding: 0 10px;
}
.loan--inner--section .inner--box-context .inner-body .list-block {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid var(--dark-color);
  padding-bottom: 20px;
}
.loan--inner--section .inner--box-context .inner-body .list-block li {
  margin-bottom: 12px;
}
.loan--inner--section .inner--box-context .inner-body .list-block li .icon {
  margin-right: 18px;
}
.loan--inner--section .inner--box-context .inner-body .list-block li .text {
  font-size: 11px;
  font-family: var(--font-regular);
  font-weight: 400;
  color: #434343;
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info {
  padding: 25px 0;
  border-bottom: 1px solid var(--dark-color);
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info h4 {
  font-size: 14px;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: left;
  color: var(--primary-color);
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 20px;
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info h4 img {
  vertical-align: middle;
  margin-right: 8px;
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info .dark {
  color: var(--dark-color);
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.loan--inner--section .inner--box-context .inner-body .exclamation-info p .dark {
  font-weight: bold;
  font-family: var(--font-bold);
  text-decoration: underline;
}

.footer--section {
  padding: 1.875em 0;
  width: 100%;
  position: relative;
  margin: 0;
  background-color: var(--white-color);
}
.footer--section .row {
  justify-content: space-around !important;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .ft-left {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
.footer--section .ft-logo img {
  width: 100px;
}
.footer--section .footer-logo {
  margin-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .footer-logo {
    margin-left: 0;
  }
}
.footer--section .ft-left {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .ft-left {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .ft-left {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
.footer--section .ft-left p {
  font-size: 16px;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  color: #bbbbbb;
}
.footer--section .ft-left p a {
  color: var(--primary-color);
}
.footer--section .ft-left .ft-inline {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  list-style-type: none;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .ft-left .ft-inline {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .ft-left .ft-inline {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
.footer--section .ft-left .ft-inline .ft-list {
  color: var(--primary-color);
  font-size: 1em;
  font-family: var(--font-SemiBold);
  font-weight: 600;
  position: relative;
  margin-right: 15px;
}
.footer--section .ft-left .ft-inline .ft-list a {
  color: var(--yellow-color);
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline .ft-list {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer--section .ft-left .ft-inline .title-gray {
  color: #bbbbbb;
}
.footer--section .ft-left .ft-inline .line {
  position: relative;
  margin-right: 15px;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline .line {
    display: none;
  }
}
.footer--section .ft-left .ft-inline .line:before {
  content: "";
  background-color: var(--primary-color);
  height: 12px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer--section .ft-left .ft-inline .blue:before {
  content: "";
  background-color: var(--yellow-color);
  height: 12px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer--section .end-content {
  justify-content: flex-end;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content a {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content a {
    width: 100%;
  }
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content a img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content a img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
