.inner
    a.logo(href="index.html" alt="Sitahouse.com") 
        img(src="images/sitahouse-logo.svg", alt="Sitahouse Logo")
    .exit-mob
    nav.main-nav(aria-labelledby="mainnavheader")
        .user-wrap
            .user-links
                a.user(href="customer-dashboard.html") 
                    i.fa.fa-user-circle-o 
                    span.username Patrick Sullivan
                a.messages(href="customer-messages.html" alt="messages count")
                    i.fa.fa-envelope-o
                    span.msgcount 2
            a.login(href="#logout") Logout #[i.fa.fa-sign-out]
        
        ul.navlinks
            li
                a(href="customer-dashboard.html") Dashboard
            li
                a(href="customer-jobs.html") Jobs
            li
                a(href="find-a-sitter.html") Find a Sitter
            li
                a(href="merchandise.html") Merchandise
            li 
                a(href="help.html") Help
