:root {
  --white-color: #fff;
  --black-color: #000;
  --black1-color: #181818;
  --blue-color: #5383ef;
  --yellowlight-color: #edbb5f;
  --bluelight-color: #37cfdc;
  --bluedark-color: #5989e5;
  --gray-color: #b0b0b0;
  --gray2-color: #888888;
  --font-slack: 'Work Sans', sans-serif;
  --font-bold: 'Pacifico', cursive;
}
