// Font Family Base
$font-slack: 'Poppins', sans-serif;

// Color
$white-color: #fff;
$black-color: #000;
$gray-color: #9E9E9E;
$maroon-color: #af052f;
$green-color: #27ea00;
$blue-color: #0087f8;
$gray2-color: rgb(235, 235, 235);
$gray3-color: #636363;
$blacklg-color: #2d2d2d;
