@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/Proxima_nova/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: "Proxima-Nova-Black";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Black.otf");
}
@font-face {
  font-family: "Proxima-Nova-Extrabold";
  src: url("../fonts/Proxima_nova/Proxima-Nova-Extrabold.otf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-SemiBold";
  src: url("../fonts/Roboto/Roboto-SemiBold.html");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "TragicMarker";
  src: url("../fonts/TragicMarker/TragicMarker.otf");
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/Gotham-Font/GothamMedium.ttf");
}
:root {
  --font-tragic: "TragicMarker";
  --font-regular: "ProximaNova-Regular";
  --font-medium: "Montserrat-Medium";
  --font-SemiBold: "Montserrat-SemiBold";
  --font-Extrabold: "Montserrat-ExtraBold";
  --font-bold: "Montserrat-Bold";
  --font-Black: "Proxima-Nova-Black";
  --font-RobRegular: "Roboto-Regular";
  --font-RobMedium: "Roboto-Medium";
  --font-RobLight: "Roboto-Light";
  --font-RobBold: "Roboto-Bold";
  --font-RobSemiBold: "Roboto-SemiBold";
  --font-RobBlack: "Roboto-Black";
  --font-gilroyBold: "Gilroy-Bold";
  --font-gilroyMedium: "Gilroy-Medium";
  --font-gilroyExtraBold: "Gilroy-ExtraBold";
  --font-gothMedium: "GothamMedium";
  --primary-color: #f7d114;
  --darkprimary-color: #a21c1d;
  --secondary-color: #1f1f1f;
  --lightprimary-color: #363636;
  --darker-color: #000d15;
  --dark-color: #100f10;
  --white-color: #fff;
  --darking-color: #242424;
  --gray-color: #2c2c2c;
  --lightgray-color: #656565;
  --yellow-color: #f7c30f;
  --darkyellow-color: #f7ad0f;
  --black-color: #000;
}

.btn-pink {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.625em 2.1875em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--white-color);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .btn-pink {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-pink {
    font-size: 14px;
  }
}

.btn-yellow {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.9375em 2.1875em;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--white-color);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .btn-yellow {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-yellow {
    font-size: 14px;
  }
}

.btn-white {
  background-color: var(--white-color);
  border-color: var(--white-color);
  padding: 0.9375em 3.75em;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.0625em;
  font-weight: 600;
  font-family: var(--font-proxima);
  font-style: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .btn-white {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-white {
    font-size: 14px;
  }
}

.btn {
  cursor: pointer;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-slack);
  overflow-x: hidden;
  background-color: #fff !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

::-webkit-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

.text-black {
  color: var(--black-color);
}

.text-gray {
  color: #656565;
}

.text-yellow {
  color: var(--primary-color);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }

  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav--wrapper {
    max-width: 1360px !important;
  }
}
@media screen and (max-width: 992px) {
  .nav--wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
.uppercase {
  text-transform: uppercase;
}

.navigation-navbar {
  margin: 0;
  padding: 0 !important;
  width: 100%;
  background-color: var(--primary-color) !important;
  position: relative !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  border: none;
  height: 120px;
}
@media screen and (min-width: 1600px) and (max-width: 2400px) {
  .navigation-navbar {
    padding: 2px 0 !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .navigation-navbar {
    position: relative !important;
    border: none !important;
    border-bottom: none !important;
    box-shadow: none;
    height: auto;
  }
}
.navigation-navbar .navbar-toggler {
  background-color: var(--primary-color);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navigation-navbar .left-arrow {
  position: absolute;
  top: 15px;
  left: 0;
}
.navigation-navbar .left-arrow img {
  width: 60px;
}
@media screen and (min-width: 1700px) {
  .navigation-navbar .left-arrow img {
    width: auto;
  }
}
.navigation-navbar .navbar-brand {
  margin-right: 120px;
  position: relative;
  top: 0;
  transform: translateY(25%);
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .navigation-navbar .navbar-brand {
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .navigation-navbar .navbar-brand {
    margin-right: 0;
    transform: translateY(0);
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .navigation-navbar .navbar-brand {
    position: relative;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .navigation-navbar .navbar-brand {
    margin-right: 0;
    width: 100%;
    text-align: center;
    transform: translateY(0);
  }
}
.navigation-navbar .navbar-brand img {
  width: 100%;
}
@media screen and (min-width: 1600px) and (max-width: 2400px) {
  .navigation-navbar .navbar-brand img {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .navigation-navbar .navbar-brand img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .navigation-navbar .navbar-brand img {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .navigation-navbar .navbar-brand img {
    width: 90%;
  }
}
.navigation-navbar .navbar-collapse {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-navbar .navbar-collapse {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .navigation-navbar .navbar-collapse {
    padding-left: 30px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1219px) {
  .navigation-navbar .navbar-collapse .d-e1204 {
    justify-content: flex-end !important;
  }
}
.navigation-navbar .navbar-collapse .navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-navbar .navbar-collapse .navbar-nav {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .navigation-navbar .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 30px;
  }
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info .nav-icon {
  margin-right: 15px;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info .nav-text {
  display: block;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info .nav-text .large {
  font-size: 20px;
  font-family: var(--font-bold);
  font-weight: bold;
  color: var(--black-color);
  text-align: left;
  position: relative;
  visibility: visible;
  display: block;
  letter-spacing: -1px;
  margin-bottom: -5px;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info .nav-text .small {
  font-size: 16px;
  font-family: var(--font-medium);
  font-weight: 300;
  color: var(--black-color);
  text-align: left;
  position: relative;
  visibility: visible;
  display: block;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item .nav-info .nav-text span {
  display: block;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 {
  font-size: 24px;
  font-family: var(--font-SemiBold);
  font-weight: normal;
  text-align: left;
  color: var(--dark-color);
  position: relative;
  visibility: visible;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 span {
  display: block;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .navigation-navbar .navbar-collapse .navbar-nav .nav-item h4 {
    font-size: 20px;
  }
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-left {
  margin-left: 50px;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-link {
  background-color: var(--black-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-bold);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
  .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0.75em 0.625em 12px 10px;
    font-size: 14px;
    display: none;
  }
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-link .icon {
  margin-right: 10px;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-link .icon img {
  vertical-align: middle;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-link .text {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1900px) {
  .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.1875em;
    padding: 1.25em 3.125em;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1366px) {
  .navigation-navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 1.5625em 1.25em;
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .navigation-navbar .navbar-collapse .navbar-nav .dn-1024 {
    display: none !important;
  }
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}
.navigation-navbar .navbar-collapse .navbar-nav .nav-item:last-of-type {
  margin-right: 0;
}

.banner--section {
  background-image: url("../images/banner-cover.png");
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 60px 0 80px 0;
  z-index: 1;
  border: none;
  position: relative;
}
.banner--section .banner-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -15px);
}
@media screen and (min-width: 1700px) {
  .banner--section .banner-img {
    transform: translate(0%, -8px);
  }
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner-img {
    transform: translate(30%, -15px);
  }
}
@media screen and (max-width: 1100px) {
  .banner--section .banner-img {
    display: none;
  }
}
.banner--section .banner-img img {
  width: 90%;
  height: 1140px;
}
@media screen and (min-width: 1700px) {
  .banner--section .banner-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner-img img {
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1315px) {
  .banner--section .col-lg-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.banner--section .discount {
  position: absolute;
  top: 7%;
  right: -26px;
}
@media screen and (min-width: 1700px) {
  .banner--section .discount {
    top: 15%;
    right: 90px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .discount {
    display: none;
  }
}
.banner--section .discount img {
  width: 88%;
}
@media screen and (min-width: 1700px) {
  .banner--section .discount img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .banner--section {
    background-position: left;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .banner--section .col-lg-6 {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .banner--section .col-lg-3 {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .banner--section .d-no {
    display: none;
  }
}
.banner--section .banner--info .large-text {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: left;
  display: block;
  margin-bottom: 40px;
}
.banner--section .banner--info .large-text span {
  display: block;
}
.banner--section .banner--info .large-text .text-black {
  color: var(--black-color);
}
.banner--section .banner--info .large-text .text-gray {
  color: #656565;
}
@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .banner--section .banner--info .large-text {
    font-size: 49px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .banner--section .banner--info .large-text {
    font-size: 2.8125em;
  }
}
@media screen and (min-width: 1700px) {
  .banner--section .banner--info .large-text {
    font-size: 3.3125em;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .banner--section .banner--info .large-text {
    font-size: 1.875em;
  }
}
.banner--section .banner--info .form-contact {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.banner--section .banner--info .form-contact .head {
  background-color: var(--black-color);
  text-align: center;
  padding: 10px 30px;
}
.banner--section .banner--info .form-contact .head h3 {
  font-size: 1.75em;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
  position: relative;
  display: block;
  visibility: visible;
}
.banner--section .banner--info .form-contact .head p {
  font-size: 1.25em;
  font-family: var(--font-SemiBold);
  font-weight: 500;
  font-style: italic;
  color: var(--white-color);
  text-align: center;
  position: relative;
  display: block;
  visibility: visible;
}
.banner--section .banner--info .form-contact .form-field {
  padding: 1.25em 2.5em;
}
.banner--section .banner--info .form-contact .form-field .inner {
  margin-bottom: 20px;
}
.banner--section .banner--info .form-contact .form-field .inner h5 {
  color: #959595;
  font-size: 1em;
  font-family: var(--font-medium);
  font-weight: 500;
  text-align: center;
  position: relative;
  display: block;
  visibility: visible;
}
.banner--section .banner--info .form-contact .form-field .inline-group {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.banner--section .banner--info .form-contact .form-field .inline-group .left-group h4 {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-bold);
  text-align: left;
  color: var(--black-color);
  position: relative;
  visibility: visible;
}
.banner--section .banner--info .form-contact .form-field .inline-group .left-group p {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-regular);
  text-align: left;
  color: #808080;
  position: relative;
  visibility: visible;
}
.banner--section .banner--info .form-contact .form-field .inline-group .right-group {
  width: 40%;
}
.banner--section .banner--info .form-contact .form-field .form-group {
  position: relative;
}
.banner--section .banner--info .form-contact .form-field .form-group .form-control {
  padding: 0.75em 1.25em 0.75em 3.75em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  resize: none;
}
.banner--section .banner--info .form-contact .form-field .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--yellow-color);
}
.banner--section .banner--info .form-contact .form-field .form-group .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.banner--section .banner--info .form-contact .form-field .form-group .last-icon {
  top: 26px !important;
}
.banner--section .banner--info .form-contact .form-field .form-group .btn {
  margin-top: 30px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 14px 30px;
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  color: var(--black-color);
  font-size: 18px;
  font-family: var(--font-Extrabold);
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.banner--section .banner--info .form-contact .form-field .form-group .btn:focus {
  outline: none;
  box-shadow: none;
}
.banner--section .right-banner {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  flex-flow: row;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .banner--section .right-banner {
    flex-flow: row;
    margin-top: 40px;
  }
}
.banner--section .right-banner > div {
  margin-right: 10px;
}
.banner--section .right-banner > div:last-of-type {
  margin-right: 0;
}

.flex-inner--section {
  background-color: var(--primary-color);
  width: 100%;
  padding: 60px 0 0 0;
  position: relative;
  display: block;
  overflow: hidden;
  height: 300px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .flex-inner--section {
    height: auto;
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .flex-inner--section .col-lg-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .flex-inner--section {
    height: auto;
    padding: 80px 0;
  }
}
.flex-inner--section .inner--flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  padding-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .flex-inner--section .inner--flex {
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.flex-inner--section .inner--flex .image {
  margin-right: 40px;
}
.flex-inner--section .inner--flex .image img {
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .flex-inner--section .inner--flex .image {
    width: 100%;
    margin-bottom: 20px;
  }
  .flex-inner--section .inner--flex .image img {
    width: 100%;
  }
}
.flex-inner--section .inner--flex .text h3 {
  font-size: 32px;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: left;
  position: relative;
  color: var(--black-color);
  display: block;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
.flex-inner--section .inner--flex .text h3:before {
  content: "";
  background-color: var(--black-color);
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.flex-inner--section .inner--flex .text h3 span {
  display: block;
}
.flex-inner--section .inner--flex .text p {
  font-size: 18px;
  font-family: var(--font-regular);
  font-weight: 400;
  text-align: left;
  position: relative;
  color: var(--black-color);
  display: block;
  line-height: 22px;
}
.flex-inner--section .inner--flex .text p span {
  display: block;
}

.youtube--section {
  padding: 100px 0;
  width: 100%;
  position: relative;
  display: block;
  margin: 0;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .youtube--section .col-lg-4, .youtube--section .col-lg-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.youtube--section .left--youtube .head h2 {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: left;
  display: block;
  margin-bottom: 40px;
}
.youtube--section .left--youtube .head h2 span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .youtube--section .left--youtube .head h2 {
    font-size: 2.5em;
  }
}
.youtube--section .left--youtube .play-content {
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 70px;
  margin: 40px 0;
  width: 90%;
}
.youtube--section .left--youtube .play-content .icon {
  margin-right: 30px;
}
.youtube--section .left--youtube .play-content .text p {
  font-size: 1.125em;
  font-family: var(--font-regular);
  font-weight: 400;
  color: var(--black-color);
  text-align: left;
  position: relative;
  display: block;
  line-height: 28px;
  padding-right: 15px;
}
.youtube--section .left--youtube .play-content .text p b {
  font-weight: bold;
  font-family: var(--font-bold);
}
.youtube--section .left--youtube .title p {
  font-size: 1.125em;
  font-family: var(--font-regular);
  font-weight: 400;
  color: var(--black-color);
  text-align: left;
  position: relative;
  display: block;
  line-height: 28px;
  padding-right: 35px;
  margin-bottom: 25px;
}
.youtube--section .left--youtube .title p b {
  font-weight: bold;
  font-family: var(--font-bold);
}
.youtube--section .right--youtube .frame {
  position: relative;
  width: 100%;
}
.youtube--section .right--youtube .frame .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -60%);
}

.professional--section {
  background-color: var(--secondary-color);
  padding: 80px 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: block;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .professional--section .col-lg-4 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
.professional--section .heading h2 {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .professional--section .heading h2 {
    font-size: 2.5em;
  }
}
.professional--section .pro--inner {
  width: 100%;
  background-color: #272727;
  position: relative;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .professional--section .pro--inner {
    margin-bottom: 50px;
  }
}
.professional--section .pro--inner:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner:hover .title .circle {
  border: 4px solid var(--primary-color);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner:hover .title .info h2, .professional--section .pro--inner:hover .title .info p {
  color: var(--black-color);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner:hover .title .info .btn {
  background-color: var(--black-color);
}
.professional--section .pro--inner .box-image {
  width: 100%;
  height: 400px;
}
.professional--section .pro--inner .title {
  text-align: center;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.professional--section .pro--inner .title .circle {
  width: 80px;
  height: 80px;
  background-color: #1f1f1f;
  border: 4px solid #2c2c2c;
  line-height: 100px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  margin-top: -45px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner .title .info {
  padding: 30px 80px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .professional--section .pro--inner .title .info {
    padding: 30px 20px;
  }
}
.professional--section .pro--inner .title .info h2 {
  font-size: 28px;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: center;
  position: relative;
  color: var(--yellow-color);
  display: block;
  visibility: visible;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner .title .info h2 span {
  display: block;
}
.professional--section .pro--inner .title .info p {
  color: #595959;
  font-size: 16px;
  font-family: var(--font-regular);
  font-weight: 400;
  text-align: center;
  position: relative;
  visibility: visible;
  margin: 20px 0;
  line-height: 26px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.professional--section .pro--inner .title .info .btn {
  background-color: #363636;
  border-color: #363636;
  padding: 0.875em 1.875em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: center;
  color: var(--white-color);
  margin-top: 10px;
}
.professional--section .pro--inner .title .info .btn:focus {
  outline: none;
  box-shadow: none;
}
.professional--section .pro--inner .title .info .btn img {
  vertical-align: middle;
  margin-right: 10px;
}

.choose--section {
  padding: 80px 0;
  width: 100%;
  position: relative;
  display: block;
}
.choose--section .heading {
  margin-bottom: 100px;
}
.choose--section .heading h2 {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .choose--section .heading h2 {
    font-size: 2.5em;
  }
}
.choose--section .choose--context {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .choose--section .choose--context {
    padding-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .choose--section .choose--context {
    flex-flow: column;
  }
}
.choose--section .choose--context .circle-image {
  width: 900px;
  margin-right: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .choose--section .choose--context .circle-image {
    width: 100%;
    margin-bottom: 30px;
  }
}
.choose--section .choose--context .circle-image img {
  width: 100%;
}
.choose--section .choose--context .w-increase {
  width: 1100px !important;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .choose--section .choose--context .w-increase {
    width: 100% !important;
  }
}
.choose--section .choose--context .w-increase img {
  width: 100%;
}
.choose--section .choose--context .text h2 {
  font-family: var(--font-bold);
  font-size: 2.25em;
  font-weight: bold;
  text-align: left;
  color: var(--black-color);
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.choose--section .choose--context .text h2:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: var(--yellow-color);
  width: 35px;
  height: 3px;
}
.choose--section .choose--context .text p {
  font-size: 1em;
  font-family: var(--font-regular);
  font-weight: 400;
  color: #959595;
  text-align: left;
  line-height: 26px;
  position: relative;
  display: block;
  visibility: visible;
}

.about--section {
  padding: 80px 0;
  width: 100%;
  margin: 0;
  position: relative;
  display: block;
  background-image: url("../images/bg-cover.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.about--section .heading h2 {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: left;
  display: block;
  margin-bottom: 40px;
}
.about--section .heading h2 span {
  display: block;
}
.about--section .heading h2 .text-dark {
  color: var(--black-color) !important;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about--section .heading h2 {
    font-size: 2.5em;
  }
}
.about--section .about-info {
  background-color: var(--white-color);
}
.about--section .about-info .text {
  padding: 2.5em 3.125em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about--section .about-info .text {
    padding: 2.5em 1.25em;
  }
}
.about--section .about-info .text h4 {
  font-size: 1.75em;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: left;
  position: relative;
  color: var(--black-color);
  visibility: visible;
  display: block;
  margin-bottom: 50px;
}
.about--section .about-info .text h4 span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about--section .about-info .text h4 {
    font-size: 1.25em;
  }
}
.about--section .about-info .text h4:before {
  content: "";
  background-color: var(--yellow-color);
  width: 35px;
  height: 4px;
  position: absolute;
  bottom: -25px;
  left: 0;
}
.about--section .about-info .text p {
  font-size: 1em;
  font-family: var(--font-regular);
  font-weight: 400;
  color: #959595;
  text-align: left;
  position: relative;
  line-height: 30px;
  margin-bottom: 20px;
}
.about--section .about-info .text p:last-of-type {
  margin-bottom: 0;
}
.about--section .about-info .bg-context {
  background-color: var(--primary-color);
  padding: 2.5em 3.125em;
}
.about--section .about-info .bg-context a {
  float: left;
  background-color: var(--black-color);
  border-color: var(--black-color);
  padding: 0.875em 3.125em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-family: var(--font-bold);
  font-weight: bold;
  font-style: normal;
  position: relative;
  color: var(--white-color);
  text-align: center;
  margin-right: 60px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .about--section .about-info .bg-context a {
    float: none;
    margin-bottom: 20px;
  }
}
.about--section .about-info .bg-context p {
  font-size: 1.125em;
  font-weight: 400;
  font-family: var(--font-regular);
  color: var(--black-color);
  text-align: left;
  line-height: 28px;
}
.about--section .about-info .bg-context p .bold {
  font-family: var(--font-bold);
  font-weight: bold;
}
.about--section .about-info .bg-context p .block {
  display: block;
}

.rate--section {
  padding-top: 140px;
  width: 100%;
  margin: 0;
  position: relative;
}

.polygon--bg {
  background-image: url("../images/polygon-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-bottom: 300px;
  margin-top: -230px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .polygon--bg {
    margin-top: -150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .polygon--bg {
    margin-top: -70px;
  }
}
.polygon--bg .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.polygon--bg .slider-context .swiper-container {
  height: 330px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .polygon--bg .slider-context .swiper-container {
    height: 500px;
  }
}
.polygon--bg .slider-context .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--white-color);
}
.polygon--bg .slider-context .swiper-container .swiper-pagination-bullet-active {
  background-color: var(--white-color) !important;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info {
  background-color: var(--white-color);
  padding: 2.1875em 3.125em;
  min-height: 260px;
}
@media screen and (min-width: 1700px) {
  .polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info {
    width: 100%;
  }
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .inline-profile {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .inline-profile .left {
  width: 60%;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .inline-profile .left img {
  position: relative;
  margin-right: 20px;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .inline-profile .left .name {
  font-size: 1.5em;
  font-family: var(--font-bold);
  font-weight: bold;
  text-align: left;
  position: relative;
  letter-spacing: -1px;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .inline-profile .right h5 {
  color: #b4b4b4;
  font-size: 14px;
  font-family: var(--font-regular);
  font-weight: 400;
  position: relative;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .rate-star {
  margin-bottom: 20px;
  list-style-type: none;
}
.polygon--bg .slider-context .swiper-container .swiper-wrapper .swiper-slide .slide-info .title p {
  font-size: 1.125em;
  font-family: var(--font-regular);
  font-weight: 400;
  text-align: left;
  color: var(--black-color);
  position: relative;
  line-height: 28px;
}

.footer--section {
  padding: 0 0 3.75em 0;
  width: 100%;
  position: relative;
  margin: 0;
  background-color: #1f1f1f;
}
.footer--section .footer-bg {
  background-image: url("../images/bottom-black.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 400px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: -250px;
  margin-bottom: 60px;
}
.footer--section .footer-bg .title-ft {
  padding: 100px 100px 20px 30px;
}
.footer--section .footer-bg .title-ft h2 {
  font-size: 3.3125em;
  font-family: var(--font-bold);
  font-weight: bolder;
  position: relative;
  text-align: left;
  display: block;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .footer-bg .title-ft h2 {
    font-size: 1.875em;
  }
}
.footer--section .footer-bg .title-ft h2 .text-white {
  color: var(--white-color);
}
.footer--section .footer-bg .title-ft .btn {
  font-size: 16px;
  font-family: var(--font-bold);
  font-weight: bold;
  color: var(--white-color);
  position: relative;
  padding: 0.875em 3.125em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .footer-bg .title-ft .btn {
    margin-bottom: 20px;
  }
}
.footer--section .footer-bg .title-ft .btn:focus {
  outline: none;
  box-shadow: none;
}
.footer--section .footer-bg .title-ft .btn-dark {
  background-color: #252525;
  border-color: #252525;
  color: var(--white-color);
  margin-right: 20px;
}
.footer--section .footer-bg .title-ft .btn-warning {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--black-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .ft-left {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
.footer--section .ft-logo img {
  width: 100px;
}
.footer--section .footer-logo {
  margin-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--section .footer-logo {
    margin-left: 0;
  }
}
.footer--section .ft-left {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .ft-left {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .ft-left {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
.footer--section .ft-left p {
  font-size: 16px;
  font-family: var(--font-regular);
  font-weight: 400;
  color: #7d7d7d;
}
.footer--section .ft-left p a {
  color: #7d7d7d;
}
.footer--section .ft-left .ft-inline {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  list-style-type: none;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .ft-left .ft-inline {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .ft-left .ft-inline {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
.footer--section .ft-left .ft-inline .ft-list {
  color: #7d7d7d;
  font-size: 1em;
  font-family: var(--font-regular);
  font-weight: 400;
  position: relative;
  margin-right: 15px;
}
.footer--section .ft-left .ft-inline .ft-list a {
  color: #7d7d7d;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline .ft-list {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer--section .ft-left .ft-inline .title-gray {
  color: #7d7d7d;
}
.footer--section .ft-left .ft-inline .line {
  position: relative;
  margin-right: 15px;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer--section .ft-left .ft-inline .line {
    display: none;
  }
}
.footer--section .ft-left .ft-inline .line:before {
  content: "";
  background-color: #7d7d7d;
  height: 12px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer--section .ft-left .ft-inline .blue:before {
  content: "";
  background-color: var(--yellow-color);
  height: 12px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer--section .end-content {
  justify-content: flex-end;
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content a {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content a {
    width: 100%;
  }
}
@media screen and (min-width: 415px) and (max-width: 767px) {
  .footer--section .end-content a img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer--section .end-content a img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
